@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #1479ff;
    --text-color: #050A30;
    --shadow-blue: #d6e6ff 0px 8px 24px;
    --shadow-grey: #e4e4e4 0px 8px 24px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

.wrapper {
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.left-side {
    width: 50%;
    height: 100vh;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-side {
    width: 50%;
    height: 100vh;
    display: block;
    position: relative;
}

.right-side form {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 60%;
    box-shadow: var(--shadow-blue);
    padding: 30px;
    border-radius: 20px;
}

.right-side form p {
    text-align: center;
    color: grey;
}

.right-side form h1 {
    text-align: center;
    color: var(--primary-color);
}

.right-side form label {
    text-align: left;
    line-height: 0;
    display: block;
}

.right-side form input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.06);
    margin-top: 2px;
    padding: 0 10px;
    font-size: 17px;
}

.right-side form .align-right {
    text-align: right;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

.right-side form input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

.right-side form .center {
    text-align: center;
}

.left-nav {
    width: 100px;
    height: 100vh;
    text-align: center;
    padding: 5px 20px 20px 20px;
    display: block;
}

.left-nav .nav-logo {
    width: 100%;
    height: 200px;
    align-items: center;
}

.left-nav img {
    width: 60px;
}

.left-nav .nav-menu {
    display: block;
}

.left-nav .nav-menu .menu-item, .left-nav .nav-menu .lib-menu-item {
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin-top: 10px;
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
}

.left-nav .nav-menu .logout {
    display: block;
    margin-top: 10px;
    padding: 10px 10px 5px 10px;
}

.left-nav .nav-menu .logout:hover {
    scale: 1.2;
}

.left-nav .nav-menu .menu-item i, .left-nav .nav-menu .menu-item img, .left-nav .nav-menu .logout, .left-nav .nav-menu .lib-menu-item i, .left-nav .nav-menu .lib-menu-item img {
    transition: 300ms;
}

.left-nav .nav-menu .menu-item:hover i, .left-nav .nav-menu .lib-menu-item:hover i {
    color: var(--primary-color);
    scale: 1.2;
}

.left-nav .nav-menu .nav-menu-active:hover i {
    scale: 1.2;
    color: white;
}

.left-nav .nav-menu .menu-item img, .left-nav .nav-menu .lib-menu-item img {
    width: 60%;
}

.left-nav .nav-menu .menu-item:hover img, .left-nav .nav-menu .lib-menu-item:hover img {
    scale: 1.2;
}

.nav-menu-active {
    background-color: var(--primary-color);
}

.top-nav {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 10px 20px;
}

.top-nav .search-input {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 8px 10px;
    border-radius: 10px;
    margin: 0 20px;
}

.top-nav .search-input input {
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    border: none;
}

.top-nav .search-input input:focus {
    outline: none;
}

.row {
    display: flex;
    align-items: center;
}

.top-nav .row a {
    position: relative;
}

.top-nav .row a .badge {
    position: absolute;
    top: -9px;
    right: -9px;
    padding: 0 6px;
    border-radius: 50%;
    background-color: red;
    font-size: 10px;
    color: white;
    border: 1px solid white;
    /* box-shadow: rgb(255, 219, 219) 0px 1px 10px; */
}

.col {
    display: block;
    width: 100%;
}

.row .col p {
    font-size: 13px;
    color: grey;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit:cover;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-100 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit:cover;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-200 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit:cover;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#current-page-content {
    width: 100%;
    height: 90vh;
    background-color: whitesmoke;
    border-top-left-radius: 30px;
}

#current-page-content iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.greeting {
    display: block;
    text-wrap: nowrap;
}

.filter-box {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.filter-box select {
    width: 100%;
    padding: 8px 10px;
    background-color: transparent;
    border-radius: 10px;
    appearance: none;
    border: none;
}

.filter-box .fa-caret-down {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.dash-box {
    min-width: 200px;
    flex: 23%;
    background-color: var(--primary-color);
    box-shadow: var(--shadow-blue);
    border-radius: 20px;
    padding: 20px;
    transition: 300ms;
}

.dash-box:hover {
    background-color: #569fff;
}

.dash-box .row i {
    transition: 300ms;
}

.dash-box:hover .row i {
    scale: 1.2;
}

.dash-box .row .col .dash-box-num {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.dash-box .row .col .dash-box-title {
    font-size: 15px;
    color: white;
    opacity: 70%;
}

.dash-summary-box {
    flex: 35%;
    min-width: 500px;
    background-color: white;
    box-shadow: var(--shadow-grey);
    padding: 20px;
    border-radius: 20px;
}

.dash-summary-box .row .dash-summary-title {
    font-size: 20px;
    font-weight: bold;
}

.dash-summary-box .row a {
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    background-color: var(--primary-color);
}

.dash-summary-box .row a:hover {
    background-color: #569fff;
}

.dash-summary-box .row .row img {
    height: 80px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 10px;
}

.dash-summary-box .row .row .dash-summary-book-title {
    max-height: 50px;
    width: calc(100%);
    overflow: hidden;
    text-overflow: ellipsis;
}

.dash-summary-box .row .viewall {
    color: rgb(172, 172, 172);
    background-color: transparent;
}

.dash-summary-box .row .viewall:hover {
    color: white;
}

.top-choices {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--shadow-grey);
}

.top-choices .row a img {
    width: 150px;
    border-radius: 10px;
    transition: 300ms;
}

.top-choices .row a img:hover {
    scale: 1.1;
    box-shadow: var(--shadow-grey);
}

.tabbar {
    display: inline-flex;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 10px;
    background-color: white;
    box-shadow: var(--shadow-grey);
    cursor: pointer;
}

.tabbar .tabbar-item {
    padding: 10px 20px;
    border-radius: 10px;
    list-style-type: none;
}

.tabbar .tabbar-item-active {
    background-color: var(--primary-color);
    color: white;
}

.wrapper .row .add-new-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 7px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.wrapper .row .add-new-btn:hover {
    background-color: rgb(70, 153, 255);
}

.wrapper .wrapper .row .stu-list-title {
    font-size: 20px;
    font-weight: bold;
}

.wrapper .wrapper .row .list-options a {
    background-color: var(--primary-color);
    color: white;
    padding: 7px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.wrapper .wrapper .row .list-options a:hover {
    background-color: rgb(70, 153, 255);
}

.wrapper .wrapper .row .list-options a i {
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table tr th {
    color: gray;
    border-bottom: 1px solid rgb(223, 223, 223);
}

table tbody tr td {
    color: gray;
}

table tr th, table tbody tr td {
    padding: 10px 15px;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: left;
}

table tbody tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

table tbody tr:hover {
    background-color: rgb(217, 234, 255);
}

table tbody tr td a {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px 15px;
}

table tbody tr td a:hover {
    background-color: #c7e1ff;
}

table tbody tr td a .fa-pencil-alt {
    color: var(--primary-color);
}

table tbody tr td a .fa-trash-alt {
    color: red;
}

.load-more {
    position: relative;
}

.load-more i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-65px);
    animation: top-to-bottom 2s ease-in-out infinite;
}

@keyframes top-to-bottom {
    0% {
        top: 0;
    }
    50% {
        top: 50%;
    }
    100% {
        top: 0;
    }
}

.book-box {
    flex: 20%;
    border-radius: 10px;
    background-color: white;
    box-shadow: var(--shadow-grey);
    min-width: 150px;
    max-width: 230px;
    overflow-x: ellipsis;
    transition: 300ms;
}

.book-box:hover {
    scale: 1.05;
}

.book-box .book-cover img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.book-box .book-title {
    width: 100%;
    /* max-width: 200px; */
    white-space: nowrap;
    padding: 5px 10px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.overlay-bottom-right {
    position: fixed;
    right: 50px;
    bottom: 50px;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: var(--primary-color);
    box-shadow: var(--shadow-blue);
    transition: 300ms;
}

.overlay-bottom-right:hover {
    scale: 1.2;
}

.ui-dialog, .ui-dialog-resizing {
    background-color: white;
    border-radius: 30px;
    padding: 20px 0px 20px 20px;
    box-shadow: var(--shadow-grey);
}

.ui-dialog .ui-dialog-titlebar {
    background-color: transparent;
    border: none;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    font-size: 30px;
    color: var(--primary-color);
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog-content {
    color: var(--primary-color);
    padding: 0;
}

.dialog input, .dialog button, #filter-dialog input {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    margin-bottom: 10px;
}

.dialog label {
    color: gray;
    margin-bottom: 5px;
}

.dialog .createBtn, .dialog .updateBtn {
    background-color: var(--primary-color);
    color: white;
}

.dialog .deleteBtn {
    background-color: white;
    color: red;
}

.dialog .createBtn:hover, .dialog .updateBtn:hover {
    background-color: rgb(72, 148, 255);
}

.dialog .deleteBtn:hover {
    background-color: rgb(255, 223, 223);
}

.dialog .closeBtn, .filter-dialog .closeBtn {
    color: gray;
}

.dialog .closeBtn:hover {
    background-color: rgb(241, 247, 255); 
}

.btn {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.primary-btn {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
}

#book-details .row #book-cover img, #create-dialog .row #book-cover img, #update-dialog .row #book-cover img {
    width: 200px;
    border-radius: 10px;
    border: 1px solid rgb(225, 225, 225);
}

input[type="file"] {
    display: none;
}

.choose-file-btn {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.dialog .row .btn {
    color: gray;
}

.dialog .row .primary-btn {
    color: white;
}

#resultBox {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 10px;
    color: green;
    background-color: #86FFA1;
    border: 1px solid green;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: right;
}

.resultBoxError {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 10px;
    color: red;
    background-color: #FAA0A0;
    border: 1px solid red;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: right;
}

.resultBoxError a, .resultBox a {
    text-decoration: none;
    color: blue;
}

.loading-animation {
    height: 25px; 
    width: 50px;
    background-image: url('../media/h_loading.gif');
    background-size: cover;
    background-position: center;
}

.error-box {
    padding: 10px;
    border: 2px solid rgb(255, 66, 66);
    background-color: rgb(255, 186, 186);
    border-radius: 10px;
    color: red;
}

.filter-date {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 7px 10px;
    width: 100%;
    color: black;
}

.message-bottom-right {
    position: absolute;
    right: -50%;
    bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    z-index: 100;
    pointer-events: all;
}

.success-message {
    color: green;
    background-color: #86FFA1;
    border: 1px solid green;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.error-message {
    color: red;
    background-color: #FAA0A0;
    border: 1px solid red;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.warning-message {
    color: #ff5500;
    background-color: #ffbb54;
    border: 1px solid #ff5500;
    box-shadow: rgba(255, 85, 0, 0.2) 0px 7px 29px 0px;
}

.input-error-status {
    color: red;
    font-size: 13px;
}

.message-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
}

.setting-item {
    padding: 10px;
    border-radius: 10px;
    color: gray;
}

.setting-item i {
    color : gray;
}

.setting-item-active {
    background-color: var(--primary-color);
    color: white;
}

.setting-item-active i {
    color: white;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="address"], input[type="date"], textarea, .select-input {
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    font-size: 15px;
}

input:disabled {
    cursor:not-allowed;
    color: gray;
}

.choose-img-icon {
    padding: 5px 10px;
    border-radius: 50%;
    background-color: rgb(244, 244, 244);
    border: 2px solid white;
}

.choose-img-pre-box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* /////////////////////////////////  Align  ///////////////////////////////// */

.center {
    text-align: center;
}

.content-center {
    justify-content: center;
}

.content-right {
    justify-content: right;
}

.content-top {
    align-items: start;
}

.content-bottom {
    align-items: end;
}

.input-back-gray {
    background-color: rgb(244, 244, 244);
}

.right {
    text-align: right;
}

.space-between {
    justify-content: space-between;
}

/* /////////////////////////////////  Color  ///////////////////////////////// */

.back-primary {
    background-color: var(--primary-color);
}

.back-white {
    background-color: white;
}

.back-gray {
    background-color: rgb(233, 233, 233);
}

.gray {
    color: gray;
}

.primary-color {
    color: var(--primary-color);
}

.white {
    color: white;
}

.red {
    color: red;
}

.green {
    color: green;
}

/* /////////////////////////////////  Cursor  ///////////////////////////////// */

.cursor-pointer {
    cursor: pointer;
}

/* /////////////////////////////////  Decoration  ///////////////////////////////// */

.overline-1-gray {
    border-top: 1px solid rgb(223, 223, 223);
}

.radius-all10 {
    border-radius: 10px;
}

.radius-all20 {
    border-radius: 20px;
}

/* /////////////////////////////////  Display  ///////////////////////////////// */

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.flex-wrap-300 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
    flex-grow: 1;
}

/* /////////////////////////////////  Hover  ///////////////////////////////// */

.hover-gray:hover {
    background-color: rgb(239, 239, 239);
}

/* /////////////////////////////////  Margin  ///////////////////////////////// */

.ml20 {
    margin-left: 20px;
}

.mt10 {
    margin-top: 10px;
}

/* /////////////////////////////////  Opacity  ///////////////////////////////// */

.op50 {
    opacity: 50%;
}

/* /////////////////////////////////  Padding  ///////////////////////////////// */

.padding-20 {
    padding: 20px;
}

.pad-top10 {
    padding-top: 10px;
}

.pad-bottom10 {
    padding-bottom: 10px;
}

.pad-v10 {
    padding: 10px 0;
}

.pad-v15 {
    padding: 15px 0;
}

.pad-left10{
    padding-left: 10px;
}

.gap10 {
    gap: 10px;
}

.gap25 {
    gap: 25px;
}

.gap50 {
    gap: 50px
}

/* /////////////////////////////////  Position  ///////////////////////////////// */

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.pos-right {
    right: 50%;
}

.pos-bottom {
    bottom: 50%;
}

.pos-choose-camera-90 {
    transform: translate(90px, 90px);
}

/* /////////////////////////////////  Shadow  ///////////////////////////////// */

.shadow-gray {
    box-shadow: var(--shadow-grey);
}

/* /////////////////////////////////  Scroll  ///////////////////////////////// */

.scroll-x {
    overflow-x: scroll;
    overflow-y: auto;
}

.scroll-y {
    overflow-x: auto;
    overflow-y: scroll;
}

/* /////////////////////////////////  Size  ///////////////////////////////// */

.h10 {
    height: 10px;
}

.h20 {
    height: 20px;
}

.h100 {
    height: 100px;
}

.h95vh {
    height: 95vh;
}

.h100vh {
    height: 100vh;
}

.size-15 {
    font-size: 15px;
}

.size-25 {
    font-size: 25px;
}

.size80 {
    font-size: 80px;
}

.w10per {
    width: 10%;
}

.w20per {
    width: 20%;
}

.w50per {
    width: 50%;
}

.w100per {
    width: 100%;
}

.w80 {
    width: 80px;
}

.w110 {
    width: 110px;
}

.w100 {
    width: 100px;
}

.w130 {
    width: 130px;
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
}

.w250 {
    width: 250px;
}

.w350 {
    width: 350px;
}

/* /////////////////////////////////  Weight  ///////////////////////////////// */

.bold {
    font-weight: bold;
}

/* /////////////////////////////////  Wrap  ///////////////////////////////// */

.wrap {
    flex-wrap: wrap;
}