@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #1479ff;
    --text-color: #050A30;
    --shadow-blue: #d6e6ff 0px 8px 24px;
    --shadow-grey: #e4e4e4 0px 8px 24px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

.wrapper {
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.left-side {
    width: 50%;
    height: 100vh;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-side {
    width: 50%;
    height: 100vh;
    display: block;
    position: relative;
}

.right-side form {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 60%;
    box-shadow: --shadow-blue;
    padding: 30px;
    border-radius: 20px;
}

.right-side form p {
    text-align: center;
    color: grey;
}

.right-side form h1 {
    text-align: center;
    color: var(--primary-color);
}

.right-side form label {
    text-align: left;
    line-height: 0;
    display: block;
}

.right-side form input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.06);
    margin-top: 2px;
    padding: 0 10px;
    font-size: 17px;
}

.right-side form .align-right {
    text-align: right;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

.right-side form input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

.right-side form .center {
    text-align: center;
}

.left-nav {
    width: 100px;
    height: 100vh;
    text-align: center;
    padding: 5px 20px 20px 20px;
    display: block;
}

.left-nav .nav-logo {
    width: 100%;
    height: 200px;
    align-items: center;
}

.left-nav img {
    width: 60px;
}

.left-nav .nav-menu {
    display: block;
}

.left-nav .nav-menu .menu-item {
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin-top: 10px;
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
}

.left-nav .nav-menu .menu-item img {
    width: 60%;
}

.nav-menu-active {
    background-color: var(--primary-color);
}

.top-nav {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 10px 20px;
}

.top-nav .search-input {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 8px 10px;
    border-radius: 10px;
    margin: 0 20px;
}

.top-nav .search-input input {
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    border: none;
}

.top-nav .search-input input:focus {
    outline: none;
}

.row {
    display: flex;
    align-items: center;
}

.top-nav .row a {
    position: relative;
}

.top-nav .row a .badge {
    position: absolute;
    top: -9px;
    right: -9px;
    padding: 0 6px;
    border-radius: 50%;
    background-color: red;
    font-size: 10px;
    color: white;
    border: 1px solid white;
}

.col {
    display: block;
    width: 100%;
}

.row .col p {
    font-size: 13px;
    color: grey;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#current-page-content {
    width: 100%;
    height: 90vh;
    background-color: whitesmoke;
    border-top-left-radius: 30px;
}

#current-page-content iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.greeting {
    display: block;
    text-wrap: nowrap;
}

.filter-box {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.filter-box select {
    width: 100%;
    padding: 8px 10px;
    background-color: transparent;
    border-radius: 10px;
    appearance: none;
    border: none;
}

.filter-box .fa-caret-down {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.dash-box {
    min-width: 200px;
    flex: 23%;
    background-color: var(--primary-color);
    box-shadow: var(--shadow-blue);
    border-radius: 20px;
    padding: 20px;
}

.dash-box .row .col .dash-box-num {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.dash-box .row .col .dash-box-title {
    font-size: 15px;
    color: white;
    opacity: 70%;
}

.dash-summary-box {
    flex: 35%;
    min-width: 500px;
    background-color: white;
    box-shadow: var(--shadow-grey);
    padding: 20px;
    border-radius: 20px;
}

.dash-summary-box .row .dash-summary-title {
    font-size: 20px;
    font-weight: bold;
    /* color: rgb(170, 170, 170); */
}

.dash-summary-box .row a {
    padding: 5px 15px;
    border-radius: 10px;
    color: gray;
    background-color: rgb(237, 237, 237);
}

.dash-summary-box .row .row img {
    height: 80px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 10px;
}

.dash-summary-box .row .row .dash-summary-book-title {
    max-height: 50px;
    width: calc(100%);
    overflow: scroll;
}

.dash-summary-box .row .viewall {
    color: rgb(172, 172, 172);
    background-color: transparent;
}

.top-choices {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--shadow-grey);
}

.top-choices .row img {
    width: 150px;
    border-radius: 10px;
    box-shadow: var(--shadow-grey);
}

.scroll {
    overflow: scroll;
}

/* /////////////////////////////////  Size  ///////////////////////////////// */

.h100 {
    height: 100px;
}

.size-15 {
    font-size: 15px;
}

.size-25 {
    font-size: 25px;
}

.size80 {
    font-size: 80px;
}

.w10per {
    width: 10%;
}

.w20per {
    width: 20%;
}

.w50per {
    width: 50%;
}

.w100per {
    width: 100%;
}

.w200 {
    width: 200px;
}

/* /////////////////////////////////  Color  ///////////////////////////////// */

.primary-color {
    color: var(--primary-color);
}

.white {
    color: white;
}

.gray {
    color: gray;
}

/* /////////////////////////////////  Align  ///////////////////////////////// */

.right {
    text-align: right;
}

.space-between {
    justify-content: space-between;
}

.content-right {
    justify-content: right;
}

/* /////////////////////////////////  Padding  ///////////////////////////////// */

.padding-20 {
    padding: 20px;
}

.pad-top10 {
    padding-top: 10px;
}

.pad-bottom10 {
    padding-bottom: 10px;
}

.pad-v10 {
    padding: 10px 0;
}

/* /////////////////////////////////  Margin  ///////////////////////////////// */

.ml20 {
    margin-left: 20px;
}

/* /////////////////////////////////  Display  ///////////////////////////////// */

.flex {
    display: flex;
}

.flex-wrap-300 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
    flex-grow: 1;
}

/* /////////////////////////////////  Wrap  ///////////////////////////////// */

.wrap {
    flex-wrap: wrap;
}

.gap10 {
    gap: 10px;
}

.gap25 {
    gap: 25px;
}

/* /////////////////////////////////  Opacity  ///////////////////////////////// */

.op50 {
    opacity: 50%;
}

/* /////////////////////////////////  Decoration  ///////////////////////////////// */

.overline-1-gray {
    border-top: 1px solid rgb(223, 223, 223);
}